<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/olowo/UI_Automation_Test/Selenium_Webdriver_Automation_Task/Project"><classes><class name="category.CategoryTest"><methods><include name="PageTitle"/><include name="MyCartTest"/><include name="StoreLocator"/><include name="Help"/><include name="Health"/><include name="Drinks"/><include name="Groceries"/></methods></class><class name="homepage.HomePageTest"><methods><include name="LoginSuccessful"/></methods></class><class name="login.LoginPageTests"><methods><include name="AssertPageURL"/><include name="AssertName"/></methods></class><class name="logout.LogoutTest"><methods><include name="testLogout"/></methods></class><class name="setup.SetUpTests"><methods><include name="testLogout"/></methods></class></classes></test></suite>